* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0b0b0f;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


/* NAVBAR */

.header {
    border-bottom: 1px solid #24242c;
    background: #0b0b0f;
}

.navbar {
    height: 72px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 22px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a {
    color: #b5b5bd;
    transition: 0.2s;
}

.nav-links a:hover {
    color: #ffffff;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.login {
    color: #d0d0d5;
}


/* BOTÕES */

.btn-primary {
    background: #6c5ce7;
    color: white;

    padding: 11px 20px;
    border-radius: 8px;

    font-weight: 600;

    transition: 0.2s;
}

.btn-primary:hover {
    opacity: 0.85;
}

.btn-secondary {
    border: 1px solid #34343d;
    color: #ffffff;

    padding: 11px 20px;
    border-radius: 8px;

    font-weight: 600;
}

.btn-secondary:hover {
    background: #18181f;
}

.btn-large {
    padding: 14px 24px;
}


/* HERO */

.hero {
    min-height: calc(100vh - 72px);

    display: flex;
    align-items: center;

    background:
        radial-gradient(
            circle at 50% 30%,
            rgba(108, 92, 231, 0.16),
            transparent 40%
        );
}

.hero-content {
    display: flex;
    justify-content: center;
}

.hero-text {
    max-width: 850px;
    text-align: center;
}

.hero-tag {
    display: inline-block;

    padding: 7px 14px;

    border: 1px solid #34343d;
    border-radius: 50px;

    color: #aaaab5;

    font-size: 14px;

    margin-bottom: 25px;
}

.hero h1 {
    font-size: 58px;
    line-height: 1.1;

    margin-bottom: 24px;
}

.hero p {
    font-size: 18px;
    line-height: 1.7;

    color: #a6a6b0;

    max-width: 700px;
    margin: 0 auto 35px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}